body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(28, 19, 216) 0%, rgba(9,9,121,1) 20%, rgba(0,245,255,0.9220281862745098) 100%);
}

div.ball {
    height: 10%;
    width: 7%;
    background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("DVD.jpeg");
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 15%;
    z-index: 1;
    animation-name: BallMover;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
}

div.box {
    background-color: rgba(255, 21, 0, 0.36);
    position: absolute;
    border-radius: 25px;
    border: 15px dashed greenyellow;
    box-sizing: border-box;
    top: 10%;
    left: 15%;
    height: 80%;
    width: 70%;
}

@keyframes BallMover {
    0% {
        transform: skew(0, 15deg);
        background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("DVD.jpeg");
        top: 45%;
        left: 15%;
    }

    12.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    22.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }
    
    25% {
        transform: skew(15deg, 0);
        background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("DVD.jpeg");
        top: 80%;
        left: 47.5%;
    }

    27.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    37.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    47.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    50% {
        transform: skew(0, 15deg);
        background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("DVD.jpeg");
        top: 45%;
        left: 78%;
    }

    52.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    62.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    72.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    75% {
        transform: skew(0, 15deg);
        background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("DVD.jpeg");
        top: 10%;
        left: 47.5%;
    }

    77.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    87.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    97.5% {
        transform: skew(0deg, 0deg);
        background-image: radial-gradient(rgba(251, 255, 6, 0.7), rgb(0, 0, 255)), url("DVD.jpeg");
    }

    100% {
        transform: skew(15deg, 0deg);
        background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("DVD.jpeg");
    }
}